@page "/applications"
@using Fosscord.DevPortal.Classes.ResponseTypes
@using Fosscord.DevPortal.Classes.Extensions
@using Fosscord.DevPortal.Classes
@using Fosscord.DevPortal.Classes.ResponseTypes
@using Microsoft.AspNetCore.Components.Web
@using System.Text.Json

<PageTitle>Applications</PageTitle>

<h1>Applications</h1>

<button class="btn btn-primary">Create application</button>

@if (applications != null)
{
    @foreach (var app in applications)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@app.Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">@app.Id</h6>
                <p class="card-text">@app.Description</p>
                <a href="/app/" class="card-link">Edit</a>
            </div>
        </div>
    }
}

@code {
    List<ApplicationResponse>? applications = null;

    protected override async Task OnInitializedAsync()
    {
        using HttpClient client = HttpClientExtensions.GetNewWithAuth();
        var resp = await client.GetAsync($"{RuntimeStorage.AppSettings.ApiUrl}/applications?with_team_application=true");
        if (resp.IsSuccessStatusCode)
        {
            applications = await resp.Content.ReadFromJsonAsync<List<ApplicationResponse>>();
            Console.WriteLine("Applications:");
            Console.WriteLine(JsonSerializer.Serialize(applications, new JsonSerializerOptions { WriteIndented = true }));
        }

        await base.OnInitializedAsync();
    }

}